*{
    font-family: 'Open Sans'
}
nav{
    width: 100%;
    height: 148px;
    background: #0C2434 0% 0% no-repeat padding-box;
}
.first-body{
    padding-top: 104px;
    padding-bottom: 230px;
    width: 100%;
    /* height: 796px; */
    background: transparent url('./img/Group\ 2138.png') 0% 0% no-repeat padding-box;
}
#first-text{
    padding-top: 35px;
    font: bold 40px 'Open Sans';
    text-shadow: 0px 1px, 1.5px 0px, 1px 0.5px;
    letter-spacing: 3px;
    color: #6e6e6e;
}
#second-text{
    padding-top: 16px;
    padding-bottom: 35px;
    font: italic 29px 'Open Sans';
    color: #6e6e6e;
}
#line-decoration{
    border-bottom: 1.5px solid #bdbdbd;
}
#calendar{
    padding-top: 16px;
}
#date{
    padding-top: 22px;
    color: #6e6e6e;
}
.form-box{
    width: 492px;
    height: 566px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 5px 3px #E2E2E2;
}
.form-description{
    padding-top: 54px;
    text-align: center;
    font: bold 18px 'Open Sans';
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 2.6px;
    color: #6e6e6e;
}
.form-date{
    padding-top: 28px;
    text-align: center;
    text-align: center;
    font: 22px 'Open Sans';
    color: #6e6e6e;
}
#name-input{
    padding: 42px 0px 6px 0px;
}
#email-input{
    padding: 0px 0px 30px 0px;
}
/* ::placeholder{
    color: #CCCCCC;
} */
.claim-button{
    width: 100%;
    height: 65px;
    background: transparent linear-gradient(180deg, #FCC57B 0%, #D98624 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #D8A124;
    border-radius: 25px;
    text-align: center;
    font: bold 27px 'Open Sans';
    color: #FFFFFF;
    text-shadow: 0px 2px 2px #00000029;
    text-decoration: none;
}
form{
    padding: 0px 13px 0px 13px;
}
.miss-out-text{
    padding-top: 30px;
    text-align: center;
    font: italic 17px 'Open Sans';
    letter-spacing: 0.1px;
    color: #6e6e6e;
}
.form-control{
    height:60px;
    font-size: 15px;
    font-weight: 100;
}
.second-header{
    text-align: left;
    font: 40px 'Open Sans';
    color: #6e6e6e;
}
.paragraph{
    padding-top: 35px;
    /* padding-right: 25px; */
    font: 17px/30px 'Open Sans';
    color: #6e6e6e;
}
#portrait-container{
    height: 495px;
    /* width: auto; */
}
#portrait{
    width: 160%;
}




/* 1200px for large desktops */
@media (max-width: 992px){

}
@media (max-width: 768px){
    
}
@media (max-width: 576px){
    
}


/* BS padding fix
[class*="col-"]{
    padding: 1rem;
} */